<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
	<title>掲示板登録</title>
	<style>
		.table-secondary {width:25%;}         /* ヘッダー部を25%、データ部を残り（75%）の幅にする */
		form {display: inline;}               /* ボタンを横並びにする */
		td input {width: 90%;}                /* 入力欄の大きさを指定 */
		td textarea {width: 90%;height:200px} /* 入力欄の大きさを指定 */
	</style>
</head>
<body>
	<h1>掲示板登録</h1>

	<form method="post" th:action="@{/save}" th:object="${formModel}">
		<input type="hidden" name="id" th:value="*{id}">
		<table class="table" border="1">
		  <tr>
			  <th class="table-secondary">タイトル</th>
			  <td>
				<input type="text" name="title" th:value="*{title}"  maxlength="64" />
			  </td>
		  </tr>
		  <tr>
			  <th class="table-secondary">内容</th>
			  <td>
				<textarea name="content" th:text="*{content}" maxlength="256"></textarea>
			  </td>
		  </tr>
		  <tr>
			  <th class="table-secondary">作成者</th>
			  <td>
				<input type="text" name="createUser" th:value="*{createUser}" maxlength= "32" />
			  </td>
		  </tr>
		</table>
		<input type="submit" class="btn btn-primary" value="登　録" />
	</form>

	<form th:action="@{/}">
		<input type="submit" class="btn btn-secondary" value="戻　る" />
	</form>
</body>
</html>